**/*/xcelium.d
**/*/xrun.log
**/*/xrun.history
**/*/xrun.key
**/*/waves.shm
**/*/.simvision
**/*.pth
**/*.h5
**/*.npz
**/*/work
**/transcript
**/*.ini
**/db/*
**/incremental_db/*
**/simulation/*
*.bak
*.env
*.ipynb_checkpoints
**/*/dataset
Scripts/cnn/rtl/*.mem
**/*/xmsc.log
**/*/xrun.history
Scripts/.env
Scripts/dataset
**/obj_dir
**/*/obj_dir
